.statusbar_container{
    height: 100px;
    width: 615px;
    background-color: white;
    border: 1px solid #dbdbdb;
    margin-top: 25px;
    display: flex;
    overflow-x : scroll;
    overflow-y: hidden;
}

.statusbar_container::-webkit-scrollbar{
    display: none;
}

.statusbar_status{
    min-width: 55px;
    min-height: 55px;
    border: 3.5px solid red;
}

.status{
    margin: 20px 15px;
}

.statusbar_upload{
    height: 40px;
    width: 40px;
    margin: 30px 20px 30px 30px;
}