body{
    background-color: #FAFAFA;
}
.loginpage__main{
    display: flex;
    margin-top: 10px;
    margin-left: -65px;
}

.loginpage__right{
    display: flex;
    flex-direction: column;
}

.loginpage__rightcomponent{
    height: 380px;
    width: 350px;
    border: 1px solid #DBDBDB;
    margin-top: 25px;
    text-align: center;
    background-color: white;
}

.loginpage__logo{
    width: 175px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* .input__text{
    width: 250px;
    height: 30px;
    margin: 5px;
    background-color:#FAFAFA;
    border: 1px solid #DBDBDB;
    padding-left: 3px;
    border-radius: 5px;
}

.login__button{
    width: 250px;
    height: 35px;
    color: white;
    margin-top: 5px;
    font-weight: bold;
    background-color:#0395F6;
    border: 1px solid #0395F6;
    border-radius: 5px;
} */

.or__div{
    display:flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.or__line{
    width: 80px;
    height: 0px;
    margin-top: 10px;
    border: 1px solid #DBDBDB;
}

.login__or{
    margin: 0px 10px;
    font-weight: bold;
    color: #8E8E8E;
}


.loginpage__rightcomponent2{
    display: flex;
    height: 60px;
    width: 350px;
    background-color: white;
    border: 1px solid #DBDBDB;
    margin-top: 25px; 
    justify-content: center;
}

.links{
    margin: 5px;
}

.signup__div{
    margin-top: 15px;
}

.loginpage__rightcomponent3{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px
}

.rightcomponent3__logo{
    margin-top: 15px;
}


