.post__container{
    width: 614px;
    border: 1px solid #dbdbdb;
    background-color: white;
    margin-top: 25px;
}

.post__header{
    height: 60px;
    border: 1px solid #dbdbdb;
    display: flex;
}

.username__image{
    min-width: 35px;
    min-height: 35px;
    margin: 10px;
}

.post__username{
    margin-top: 5px;
}

.post__reactImage{
    width: 25px;
    height: 25px;
    margin: 5px;
}

.post__comment{
    margin: 10px;
}

.comment_box{
    height: 55px;
    width: 600px;
    border: 1px solid #dbdbdb;
    font-size: 15px;
    padding-left: 10px;
}